BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 4

IndentCaseLabels: false
IndentCaseBlocks: false
IndentGotoLabels: false
IndentPPDirectives: None

BreakBeforeBraces: Attach
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false

ColumnLimit: 80
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakStringLiterals: true
PenaltyReturnTypeOnItsOwnLine: 200

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: Align

PointerAlignment: Left
DerivePointerAlignment: false
SpaceAfterCStyleCast: false

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 1

SortIncludes: true
IncludeBlocks: Regroup

ReflowComments: true
AlignTrailingComments: true

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None

